.card {
  transition:
    transform 150ms ease,
    box-shadow 150ms ease;

  &:hover {
    transform: scale(1.01);
    box-shadow: var(--mantine-shadow-md);
  }
}

.title {
  font-family: 'Greycliff CF', var(--mantine-font-family);
  font-weight: bold;
}

.titlehead {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: 62px;
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  text-align: center;
  padding-bottom: 80px;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 42px;
    line-height: 1.2;
  }
}